<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/styles/error.css">
</head>
<body>
    <div class="error-container">
        <h1 class="error-title">Oops! Algo salió mal.</h1>
        <p class="error-message">Lo sentimos, pero ha ocurrido un error. {{error.message}}.</p>
        <p class="error-message"> Por favor, ingresá todos los datos correctamente.</p>
        <a href="/" class="error-link">Volver al inicio</a>
    </div>
</body>
</html>
