<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Empleados</title>
    <!-- Agregar el enlace al archivo CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Agregar el enlace al archivo CSS personalizado -->
    <link rel="stylesheet" href="/styles/main.css">    
</head>

<body>
    <div class="container">
        <h1>Sistema de Gestión Raffagnini</h1>
        <div class="options">
            <div class="option">
                <a href="/empleados/verEmpleados">Lista de empleados</a>
            </div>
            <div class="option">
                <a href="/empleados/crearEmpleado">Crear Empleado</a>
            </div>
            <div class="option">
                <a href="/empleados/crearEmpleado">Cargar Horas</a>
            </div>
        </div>
    </div>

        <!-- Formulario para crear un nuevo empleado -->
        {{!-- <form action="/crear-empleado" method="POST">
            <h2>Crear Nuevo Empleado</h2>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br>
            <!-- Agrega más campos según sea necesario -->
            <button type="submit" class="btn btn-primary">Crear Empleado</button>
        </form> --}}

        
        


        

        <!-- Formulario para eliminar un empleado -->
        {{!-- <form action="/eliminar-empleado" method="POST">
            <h2>Eliminar Empleado</h2>
            <label for="id_eliminar">ID del Empleado a Eliminar:</label>
            <input type="text" id="id_eliminar" name="id_eliminar" required><br>
            <button type="submit" class="btn btn-danger">Eliminar Empleado</button>
        </form> --}}
    </div>
</body>

</html>