<h1>Modificar Empleado</h1>
    <form action="/modificarEmpleado/{{employee.id}}" method="PUT">
        <label for="employeeName">Nombre:</label>
        <input type="text" id="employeeName" name="name" value="{{employee.name}}" required><br>
        <label for="employeePosition">Cargo:</label>
        <input type="text" id="employeePosition" name="position" value="{{employee.position}}" required><br>
        <button type="submit">Actualizar</button>
    </form>